<ion-header>  
  <ion-toolbar color="primary"> 
    <ion-title start>
      <img src="assets/icon.png" width="25%">
    </ion-title>  
    <ion-buttons end>
      <button ion-button icon-only (click)="AR()">
        <ion-icon name="radio-button-on"></ion-icon>
      </button>
      <button ion-button icon-only  [navPush]="menu">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-button icon-only  [navPush]="search">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>TOP 3 <span class="blue">RECOMMENDED</span></h2>

  <div *ngIf="genre == 'none'">
    <p class="text">Choose your favorite genre to complete.</p>
    <button ion-button [navPush]="favorite">Complete Profile</button>
  </div>
  
  <div *ngIf="count != null">  
    <div class="category" *ngIf="count[0] != 0">INDIE</div>
    <div class="cards">
      <div class="items" *ngFor="let x of data[0]; let i=index" [navPush]="details" [navParams]="x">
        <div  *ngIf="i < 3">
          <img src="{{ asset }}/{{ x.photo }}">
          <div class="details">
            <div class="ratings">
              <ion-icon name="star"></ion-icon> 
              <span>{{ x.ratings }}.0</span>
            </div>
            <div class="title">
              <span>{{ x.title | slice:0:13 }}</span> <span *ngIf="x.title.length >= 13">...</span>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="category" *ngIf="count[1] != 0">LOCAL</div> 
    <div class="cards">
      <div class="items" *ngFor="let x of data[1]; let i=index" [navPush]="details" [navParams]="x">
        <div  *ngIf="i < 3">
          <img src="{{ asset }}/{{ x.photo }}">
          <div class="details">
            <div class="ratings">
              <ion-icon name="star"></ion-icon> 
              <span>{{ x.ratings }}.0</span>
            </div>
            <div class="title">
              <span>{{ x.title | slice:0:13 }}</span> <span *ngIf="x.title.length >= 13">...</span>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="category" *ngIf="count[2] != 0">FOREIGN</div> 
    <div class="cards">
      <div class="items" *ngFor="let x of data[2]; let i=index" [navPush]="details" [navParams]="x">
        <div  *ngIf="i < 3">
          <img src="{{ asset }}/{{ x.photo }}">
          <div class="details">
            <div class="ratings">
              <ion-icon name="star"></ion-icon> 
              <span>{{ x.ratings }}.0</span>
            </div>
            <div class="title">
              <span>{{ x.title | slice:0:13 }}</span> <span *ngIf="x.title.length >= 13">...</span>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</ion-content>
